body{
    background-color: blueviolet;
    color: black;
    display: grid;
    grid-template-rows: 100px 100px auto 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

nav ul{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    gap: 20px;
}

li {
    background-color: purple;
    width: 50%;
    margin: auto;
    text-align: center;
    text-decoration: none
}


main{
    grid-area: main;
}

footer{
    grid-area: footer;

}

footer img{
    width: 40%;
    
}

.yinyang {
    width: 20%;
}